{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="span3">
	<div id="login-form">
        <form action="." method="post">{% csrf_token %}
			<h2>Login</h2>
			
			{% for field in form %}
            <table id="login-details" class="form-type">
				<tr>
					<td><label>{{ field.label_tag }}</label></td>
					<td>{{ field }}</td>
				</tr>				
                {% endfor %}
				
				<tr>
					<td></td>
					<td><a href="#">Forgot Password?</a></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="Login" /></td>
					{% if next %}
                    <input type="hidden" name="next" value="{{next}}"/>
                    {% endif %}
				</tr>
			</table>
		</form>
	</div>
</div>
</div>
{% endblock %}
