{% extends 'base.html' %}

    {% block js.extra %}
        <script type='text/javascript'>
          google.load('visualization', '1', {packages:['table']});
          google.setOnLoadCallback(drawTable);
          function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Student Name');
            data.addColumn('string', 'Trainer Name');
            data.addColumn('string', 'Drive Time(Minutes)');
            data.addColumn('string', 'Date');
            data.addColumn('string', 'Conditions');
            data.addRows([
              {% for i in session %}
              ['{{i.studentName}}', '{{i.trainerName}}','{{i.driveTime}}' , '{{i.date}}', '{{i.conditions}}'],
              {% endfor %}
            ]);

            var table = new google.visualization.Table(document.getElementById('table-container'));
            table.draw(data, {showRowNumber: false});
          }
        </script>
    {% endblock js.extra%}

    {% block content %}
        <div id="table-container"> </div>
    {% endblock %}

